@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">SCREEN SOUND!</h1>
    <p class="mb-5">Boas Vindas ao Screen Sound 3.0</p>
    <h2 class="mb-5 display-4">O que deseja fazer?</h2>
</div>

<div class="container text-center">
    <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="RegistrarBanda">Registrar Banda</a> 
    <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="RegistrarAlbum">Registrar Álbum da Banda</a>
    <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="MostrarBandasRegistradas">Mostrar Todas as Banda</a>
    <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="AvaliarUmaBanda">Avaliar uma Banda</a>
    <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="ExibirDetalhes">Exibir os detalhes de uma Banda</a>
</div>
