@{
    ViewData["Title"] = "Registrar";
}

<div class="text-center">
    <h1 class="display-4 mb-4">@ViewData["Title"]</h1>
    <h2 class="mb-5">O que deseja Registrar?</h2>
</div>

<div class="container text-center">
    <a class="btn btn-light" asp-controller="Home" asp-action="RegistrarBanda">Registrar Banda</a>
    <a class="btn btn-light" asp-controller="Home" asp-action="RegistrarAlbum">Registrar Álbum da Banda</a>
</div>